.navbar {
  background-color: #151217;
  color: white;
  padding: 2rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-list {
  display: inline;
}

.nav-list a {
    font-size: 1.5rem;
    color: #FDD90B;
  text-decoration: none;
}

.nav-list a:hover {
  text-decoration: underline;
}