<footer class="footer">
  <div class="footer-content">
    <p>Suivez-nous sur les réseaux sociaux :</p>
    <div class="social-links">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <img src="assets/images/facebook-brands.svg" alt="Facebook"/>
      </a>
      <a href="https://twitter.com" target="_blank" aria-label="Twitter">
        <img src="assets/icons/twitter-icon.png" alt="Twitter">
      </a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <img src="assets/icons/instagram-icon.png" alt="Instagram">
      </a>
    </div>
  </div>
</footer>
