<footer class="footer ">
  <div class="footer-content">
    <p>Suivez-nous sur les réseaux sociaux :</p>
    <div class="social-links justify-content-evenly">
      <a href="https://facebook.com" target="_blank" aria-label="Facebook">
        <img src="/facebook-brands.svg" alt="Facebook"/>
      </a>
      <a href="https://twitter.com" target="_blank" aria-label="Twitter">
        <img src="/x-twitter-brands.svg" alt="Twitter">
      </a>
      <a href="https://instagram.com" target="_blank" aria-label="Instagram">
        <img src="/square-instagram-brands.svg" alt="Instagram">
      </a>
    </div>
  </div>
</footer>
