

<main class="main">
    <h1 class="d-flex justify-content-center">Nos produits</h1>
    <div class="produits">
        <div class="row pt-5 d-flex justify-content-evenly" >
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217; ">
                <img src="images/figurine-asterix.webp" alt="Image Cesar" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 class="card-title">Asterix</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;">Prix : 10€</p>
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/figurine-obelix.jpg" alt="Image Cesar" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 class="card-title">Obélix avec son tonneau</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;">Prix : 10€</p>
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/figurine-panoramix-bulle.webp" alt="Image Cesar" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 class="card-title">Panoramix</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;">Prix : 10€</p>
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/figurine-assurancetourix.jpg" alt="Image Cesar" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 class="card-title">Assurancetourix</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;">Prix : 10€</p>   
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/figurine-abraracourcix.webp" alt="Image Cesar" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 class="card-title">Cesar</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;">Prix : 10€</p>          
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/cesar.jpg" alt="Image Cesar" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 class="card-title">Cesar</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;">Prix : 10€</p>            
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/legionnaire-romain.jpg" alt="Image Cesar" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 class="card-title">Cesar</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;">Prix : 10€</p>             
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/figurine-cleopatre.webp" alt="Image Cesar" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 class="card-title">Cesar</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;">Prix : 10€</p>            
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/figurine-idefix.jpg" alt="Image Cesar" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 class="card-title">Cesar</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;">Prix : 10€</p>             
                </div>
            </div>
            
        </div>
    </div>

</main>