

<main class="main">
    <h1 id="fonttittle" class="d-flex justify-content-center m-5" style="font-size: 4rem;">Nos produits</h1>
    <div class="produits">
        <div class="row pt-5 d-flex justify-content-evenly" >
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217; ">
                <img src="images/figurine-asterix.webp" alt="Image Astérix" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;border: solid 2px #da001e">
                    <h5 id="fonttittle" class="card-title">Asterix</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;font-weight: bold;">Prix : 10€</p>
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/figurine-obelix.jpg" alt="Image Obélix" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 id="fonttittle" class="card-title">Obélix avec son tonneau</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E; font-weight: bold;">Prix : 10€</p>
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/figurine-panoramix-bulle.webp" alt="Image Panoramix" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 id="fonttittle" class="card-title">Panoramix</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;font-weight: bold;">Prix : 10€</p>
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/figurine-assurancetourix.jpg" alt="Image assurancetourix" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 id="fonttittle" class="card-title">Assurancetourix</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;font-weight: bold;">Prix : 10€</p>   
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/figurine-abraracourcix.webp" alt="Image abraracourcix" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 id="fonttittle" class="card-title">Abraracourcix</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;font-weight: bold;">Prix : 10€</p>          
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/cesar.jpg" alt="Image Cesar" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 id="fonttittle" class="card-title">César</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;font-weight: bold;">Prix : 10€</p>            
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/legionnaire-romain.jpg" alt="Image legionnaire-romain" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 id="fonttittle" class="card-title">Légionnaire romain</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;font-weight: bold;">Prix : 10€</p>             
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/figurine-cleopatre.webp" alt="Image Cléopâtre" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 id="fonttittle" class="card-title">Cléopâtre</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;font-weight: bold;">Prix : 10€</p>            
                </div>
            </div>
            <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217;">
                <img src="images/figurine-idefix.jpg" alt="Image Idefix" class="card-img-top" />
                <div class="card-body mb-3" style="background-color: #fdd90b;">
                    <h5 id="fonttittle" class="card-title">Idéfix</h5>
                    <p>Figurine faites main  inspirées de la bande dessinée Astérix et Obélix.</p>
                    <p class="card-text btn" style="background-color: #DA001E;font-weight: bold;">Prix : 10€</p>             
                </div>
            </div>
            
        </div>
    </div>

</main>