<div class="d-flex justify-content-center">
  <div class="row pt-5 " >
    <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 25rem; border: solid 2px #151217; ">
      <img src="images/figurine-asterix.webp" alt="Image Asterix" class="card-img-top" />
      <div class="card-body mb-3" style="background-color: #fdd90b;">
          <h5 class="card-title">Asterix</h5>
          <p class="card-text btn" style="background-color: #DA001E;">Prix : 10€</p>
          <a class="btn" href="" style="background-color: #151217; color: #fdd90b;">Description</a>
      </div>

  </div>
  
</div>
            
</div>

