<div class="d-flex justify-content-center">
  <div class="row pt-5 " >
    <div class="card mb-4 col-md-6 col-lg-4 p4" style="width: 20rem; border: solid 2px #151217; ">
      <figure id="art">
        <img src="images/figurine-asterix.webp" alt="Image Asterix" class="card-img-top" />
      </figure>
      
      <div class="card-body mb-3" style="background-color: #fdd90b;">
          <h5 id="name" class="card-title">Asterix</h5>
          <p id="descriptif">Figurine faites main inspirées de la bande dessinée Astérix et Obélix.</p>
          <div class="d-flex justify-content-between align-items-center">
            <p id="Prix" class="text-center" style="background-color: #DA001E; width: 5rem; " >Prix : 10€</p>
            <a class="btn" href="" style="background-color: #151217; color: #fdd90b;">Description</a>
          </div>
      </div>
    </div>
  </div>            
</div>
