<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="card" style="width: 25rem;">
                <img src="images/figurine_asterix.png" alt="Image asterix" class="card-img-top"/>
                <div class="card-body">
                  <h5 class="card-title">Astérix</h5>
                  <p class="card-text">Tombez amoureux de cette belle figurine en plastique de 9 cm aux finitions soignées !
                    Poursuivez vos aventures dans le monde des irréductibles Gaulois avec le livre d'Astérix !
                    <br>Cette figurine est un cadeau idéal pour les fans de la bande dessinée !</p>
                    <div class="cantainer">
                      <p class="card-text">Prix : 10€</p>
                    </div>
                    
                    
                  <a href="#" class="btn btn-primary">Description</a>
                </div>
              </div>
            
</div>

