
<main class="content" role="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1>{{title}}</h1>
                <p>Bienvenue sur notre site de vente en ligne de figurines inspirées de la bande dessinée Astérix et Obélix.</p>
                <p>Nous vous proposons une sélection de figurines  de qualité, issus de la confection de notre entreprise.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2>Notre catalogue</h2>
                <p>Découvrez notre gamme de figurines Astérix et Obélix, allant des personnages emblématiques aux scènes cultes de la bande dessinée.</p>
                <p>Nous avons des figurines pour tous les goûts et tous les budgets.</p>  
            </div>      
        </div>  
    </div>   
</main>